services:
    # The Symfony App (PHP-FPM)
    php:
        build: .
        volumes:
            - .:/var/www/html
        environment:
            REDIS_URL: "redis://redis:6379"
        depends_on:
            - mysql
            - redis
            - nginx

    # Nginx Web Server
    nginx:
        image: nginx:alpine
        ports:
            - "8080:80"
        volumes:
            - .:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php

    # MySQL Database
    mysql:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: badoo_clone_db
            MYSQL_USER: user1
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "3306:3306"
        volumes:
            - db-data:/var/lib/mysql

    # Redis Cache/Store
    redis:
        image: redis:alpine
        ports:
            - "6379:6379"

volumes:
    db-data:
