{% extends 'shared/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Hi, {{ app.user.userIdentifier  }}! This is your profile.</h1>
{% endblock %}
